/* Default styles */
.radio_btn {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #212121;
  border-radius: 50%;
  cursor: pointer;
}

.label {
  font-size: 14px;
  cursor: pointer;
}

.radio_item__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

/* Active styles */
.radio_btn__active {
  background-color: #000000;
  border: none;
}

.innerCircle__active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

/* Disabled styles */
.radio_btn.disable {
  opacity: 0.3;
  cursor: not-allowed;
}

.radio_btn.disable + .label {
  opacity: 0.3;
  cursor: not-allowed;
}
