.btn {
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: #ddb3a0;
  color: #ffffff;
  border-color: #ddb3a0;
}

.btn_active {
  background-color: #c99b86;
  color: #ffffff;
  border-color: #c99b86;
}

.btn.btn_disable {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  color: rgba(0, 0, 0, 0.38);
  cursor: not-allowed;
}

.buttonPicker_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonPicker_group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.h1_title {
  width: 500px;
  text-align: center;
  align-self: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.wrapper {
  width: 70%;
}
