body {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: flex;
}

.app-wrapper-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
}
