.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1_title {
  width: 600px;
  text-align: center;
  align-self: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner_wrapper {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wrapper__class {
  margin: 10px 0;
}
