.checkBox_wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.inner_wrapper {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkbox__group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100px;
}

.h1_title {
  width: 500px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
